<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <section>
            <h1>Poll Created!</h1>
            <div>
                <p><%= email %>: <%= userPollKey %></p>
                <p><%= name %></p>
            </div>
            <div>
                <p>Use this link to share with your voters: <a href="/voting/<%=  userPollKey %>"> link </a></p>
                <p>Use this link to see the results of your poll: <a href="/results/<%=  userPollKey %>"> link</a></p>
            </div>
            <div>
                <p><a href="/">Make Another Poll Here!</a></p>
            </div>
        </section>
    </body>
</html>